body {
	margin: 0;
	background: #DCF5FF;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', 'sans-serif';
}
.container {
	width: 30%;
	background: white;
	border-radius: 10px;
}
 .inner {
	background: rgb(7,218,165);
	padding: 1em;
	border-radius: 10px;
	width: 250px;
	clip-path: circle(10% at 90% 20%);
	transition: all .5s ease-in-out;
	cursor: pointer;
}
 .inner h1 {
	color: white;
	margin: 0;
}
 .inner p {
	color: white;
	font-size: .8rem;
}
.inner span {
	float: right;
	color: white;
	font-weight: bold;
	transition: color .5s;
	position: relative;
	margin-right: 4%;
}
.inner:hover span {
	color: rgba(255,255,255,0);
}
 .inner:hover {
	clip-path: circle(75%);
	background: #00B6FF;
}
